@import "../_variable";

img {
  height: 100vh;
  width: 100vw;
}

.socials {
  color: $primary;
  letter-spacing: 10px;
}

.carrier_in {
  text-align: center;
}
.footer_carrier {
  background: $foot;
  font-family: $fontFamily;
  margin-top: 19rem;
  .foot_intro {
    p {
      font-size: 1rem;
    }
  }
  .circle_socials {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .circle_content {
      margin-right: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $secondary;
    }
  }
  .outro {
    font-size: 0.8rem;
  }
}

.count_carrier {
  margin-top: 10rem;
}

#course_card {
  border: none;
  cursor: pointer;
  &:hover{
    position: relative;
    top: -5px;
  }
  .course_btn {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 2px 3px 4px #bfbdbd;
    &:hover {
      background-color: $primary;
      a {
        color: $bgColor;
      }
    }
  }
}

.event-up {
  margin-top: 10rem;
  h3 {
    font-family: $fontFamily;
  }
  .event-carrier {
    width: 100%;
    box-sizing: content-box;
    padding: 4px;
    box-shadow: 3px 8px 9px #bfbdbd;
    .event-inner {
      display: grid;
      height: 100%;
      grid-gap: 12px;
      grid-template-columns: auto auto;
      background-color: $bgColor;
      .event-img {
        grid-column: auto;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .right_texts {
        grid-column: auto;
        .little_line {
          height: 2px;
          width: 80px;
          background-color: $secondary;
        }
        .title {
          color: $foot;
        }
        .endd {
          text-transform: uppercase;
          a {
            color: $primary;
          }
          :hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
