.intro-content {
  padding-top: var(--sectionPadding);
}

.buttons {
  display: flex;
  gap: 20px;
}

/* Admission section start */
#admission-section {
  background-color: var(--color1);
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  margin-top: 40px;
  color: var(--color4);
}

.admission-content-top {
  text-align: center;
  font-family: var(--fontFamily2);
}

.admission-content-top-text {
  opacity: 0.8;
}

.admission-content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: center;
}

.admission-content-bottom .card {
  background-color: var(--color2);
  color: var(--color5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.245);
}

.admission-content-bottom .card .plan-price .plan {
  font-family: var(--fontFamily2);
  color: var(--color3);
  font-weight: 900;
  font-size: var(--fontSize3);
}

.admission-content-bottom .card .plan-price .price span {
  font-size: var(--fontSize3);
}

.admission-content-bottom .card .plan-price .price {
  opacity: 0.6;
}

.admission-content-bottom .card .plan-features div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admission-content-bottom .card .plan-features div i {
  font-weight: 900;
  color: var(--color3);
  font-size: var(--fontSize5);
}

.admission-content-bottom .card button {
  align-self: center;
}
/* Admission section ends */
