@import "./_variable";

header {
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 999;

  .heading {
    font-family: $fontFamily;
    font-size: 1.5rem;
  }
}

#first_most_section {
  font-family: $font;
  background-color: $primary;
  width: 100%;

  .first_most_inner {
    background-color: rgba(185, 182, 182, 0.182);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    .phone_no,
    .mailing_address,
    .open_hrs {
      margin-top: 10px;
    }
  }
}

.menu_carrier {
  width: 100%;
  max-height: 100vh;
  text-align: left;
  transition: all ease-in-out 2s;
  .menu_inner {
    position: absolute;
    top: 0;
    left: -3rem;
    right: 0;
    bottom: 0;
    font-family: $font;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    height: 80dvh;
    ul {
      margin-top: 1rem;
      a {
        list-style: none;
        padding: 20px 0;
        text-align: left;
        transition: font-weight 0.2s;
        color: $bgColor;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        align-items: flex-start;
        justify-content: left;
        &:last-child {
          margin-top: 20px;
          .btn {
            padding: 0.2rem 1rem;
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .menu_carrier {
    width: 100%;
    max-height: 100vh;
    text-align: left;
    transition: all ease-in-out 2s;
    .menu_inner {
      height: 60dvh;
      ul {
        position: relative;
        left: 1.5rem;
        margin-top: 4rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .menu_carrier {
    .menu_inner {
      height: 80dvh;
      ul {
        margin-top: 1rem;
        a {
          padding: 10px 0;
          &:last-child {
            margin-top: 10px;
            .btn {
              padding: 0.2rem 1rem;
              text-align: left;
            }
          }
        }
      }
    }
  }

  #first_most_section {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #first_most_section {
    display: none;
  }

  header {
    height: 65px !important;
    // background-color: $primary !important;
  }
}
